/* TOOLBAR STYLING */

#feadmin-tool-feadmin_block .feadmin_block-block {
  background: #f6f6f2 url(../misc/move.svg) no-repeat 3px center;
  /*background-color: rgba(0, 0, 0, 0.105);
  background-repeat: no-repeat;
  background-position: 3px center;*/
  cursor: pointer;
  padding: 5px 5px 5px 25px;
  margin: 5px 5px;
  position: relative;
  outline-width: 0;
  border: 1px solid #0071b3;
  border-radius: 5px;
}
#feadmin-tool-feadmin_block .feadmin_block-block a {
  line-height: 20px;
  color: #0071b3;
}
/*#feadmin-tool-feadmin_block .feadmin_block-block:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.105);
}
#feadmin-tool-feadmin_block .feadmin_block-block:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.063);
}
#feadmin-tool-feadmin_block .feadmin_block-block:first-child {
  border-top-width: 1px;
}*/
#feadmin-tool-feadmin_block input {
  width: 95%;
}

/* In content block styling */
.block-placeholder {
  height: 3.5em;
  line-height: 3.5em;
  border: 2px dotted #b24926;
  border-radius: 3px;
  margin: 0.5em 0;
  text-align: center;
  color: #b24926;
}
[data-region] .empty-block {
  background: #ffff66;
  border: 1px dotted #9f9e00;
  color: #000;
  font: 90% "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  text-align: center;
  text-shadow: none;
}

/* Custom configuration links */
div[data-block].draggable,
nav[data-block].draggable {
  margin-top: 3em;
  position: relative;
  border: 1px dotted #0071b3;
}
[data-block] .feadmin-links {
  display: none;
}
[data-block].draggable .feadmin-links {
  cursor: move;
  position: absolute;
  right: -1px;
  top: -2em;
  height: 2em;
  width: 100%;
  z-index: 500;
  background-color: #51bfff;
  border: 1px dotted #0071b3;
  border-bottom-width: 0;
  display: table;
  table-layout: fixed;
}
[data-block] ul.feadmin-links > li {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  height: 26px;
  width: 26px;
  text-indent: -9999px;
  padding: 0px;
  margin: 0px;
  display: table-cell;
}
[data-block] ul.feadmin-links > li.feadmin-links-move {
  background-image: url(../../../misc/move.svg);
}
[data-block] ul.feadmin-links > li.feadmin-links-edit,
[data-block] ul.feadmin-links > li.feadmin-links-delete {
  text-indent: 0;
}
[data-block] ul.feadmin-links > li.feadmin-links-warning {
  background-image: url(../../../misc/warning.svg);
  cursor: help;
}
[data-block] ul.feadmin-links > li.feadmin-links-edit a,
[data-block] ul.feadmin-links > li.feadmin-links-delete a {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  text-indent: -9999px;
  text-decoration: none;
  border: none;
  display: inline-block;
  width: 100%;
}
[data-block] ul.feadmin-links > li.feadmin-links-delete > a {
  background-image: url(../../../misc/bin.svg);
}
[data-block] ul.feadmin-links > li.feadmin-links-edit > a {
  background-image: url(../../../misc/pencil.svg);
}
[data-block] ul.feadmin-links > li.feadmin-links-title {
  text-indent: 0;
  font-weight: bold;
  color: #f5f5f5;
  font-size: 1em;
  padding-left: 10px;
  line-height: 2em;
  font-style: italic;
  overflow: hidden;
  word-break: break-all;
  display: block;
  width: auto;
}
[data-block] ul.feadmin-links .feadmin-links-tooltip {
  display: none;
}

/* TOOLTIPS */
.ui-widget-content.ui-tooltip.feadmin-tooltip-styling,
.feadmin-tooltip-styling .arrow:after {
  background-color: #1e8acc;
  border: 2px solid white;
}
.feadmin-tooltip-styling .arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.feadmin-tooltip-styling .arrow.top {
  top: -16px;
  bottom: auto;
}
.feadmin-tooltip-styling .arrow.left {
  left: 20%;
}
.feadmin-tooltip-styling .arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.feadmin-tooltip-styling .arrow.top:after {
  bottom: -20px;
  top: auto;
}
.notifyjs-corner ul.feadmin-warnings,
.feadmin-tooltip-styling ul.feadmin-warnings {
  list-style: initial;
  margin-left: 2em;
}